<footer class="text-center text-white footer" style="background-color: #0a4275;">
    
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Post your vacetion here</span>
        </p>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white">Yuri Khazanov Project</a>
    </div>
    
</footer>