<!-- bg-primary text-white -->
<nav class="navbar-expand-lg" style="background-color: #0a4275;" >
    
  <div class="container">
    <div class="row ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center ">
        <li class="col border text-white" style="background-color: rgba(0, 0, 0, 0.5);">
          <a class="nav-link" routerLink="">HOME</a>
        </li>
        <li class="col border text-white" style="background-color: rgba(0, 0, 0, 0.5);">
          <a class="nav-link" routerLink="/add">Add vacation</a>
        </li>
        <li class="col border text-white" style="background-color: rgba(0, 0, 0, 0.5);">
          <a class="nav-link" routerLink="/see-all-country">See by countries</a>
        </li>
        <li class="col border text-white" style="background-color: rgba(0, 0, 0, 0.5);">
          <a class="nav-link" routerLink="/see-all">See all vacation</a>
        </li>
      </ul>
    </div>
  </div>   

</nav>